# Data Pre-processing

## Data Overview

In [2]:
import pandas as pd
data = pd.read_csv('train_sessions.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253561 entries, 0 to 253560
Data columns (total 22 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   session_id  253561 non-null  int64
 1   site1       253561 non-null  int64
 2   time1       253561 non-null  object
 3   site2       250098 non-null  float64
 4   time2       250098 non-null  object
 5   site3       246919 non-null  float64
 6   time3       246919 non-null  object
 7   site4       244321 non-null  float64
 8   time4       244321 non-null  object
 9   site5       241829 non-null  float64
 10  time5       241829 non-null  object
 11  site6       239495 non-null  float64
 12  time6       239495 non-null  object
 13  site7       237297 non-null  float64
 14  time7       237297 non-null  object
 15  site8       235224 non-null  float64
 16  time8       235224 non-null  object
 17  site9       233084 non-null  float64
 18  time9       233084 non-null  object
 19  site10      231052 non-null  float64
 20  time10      231052 non-null  object
 21  target      253561 non-null  int64
dtypes: float64(9), int64(3), object(10)
memory usage: 42.6+ MB

In [13]:
data

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
0,1,718,2014-02-20 10:02:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,890,2014-02-22 11:19:50,941.0,2014-02-22 11:19:50,3847.0,2014-02-22 11:19:51,941.0,2014-02-22 11:19:51,942.0,...,2014-02-22 11:19:51,3847.0,2014-02-22 11:19:52,3846.0,2014-02-22 11:19:52,1516.0,2014-02-22 11:20:15,1518.0,2014-02-22 11:20:16,0
2,3,14769,2013-12-16 16:40:17,39.0,2013-12-16 16:40:18,14768.0,2013-12-16 16:40:19,14769.0,2013-12-16 16:40:19,37.0,...,2013-12-16 16:40:19,14768.0,2013-12-16 16:40:20,14768.0,2013-12-16 16:40:21,14768.0,2013-12-16 16:40:22,14768.0,2013-12-16 16:40:24,0
3,4,782,2014-03-28 10:52:12,782.0,2014-03-28 10:52:42,782.0,2014-03-28 10:53:12,782.0,2014-03-28 10:53:42,782.0,...,2014-03-28 10:54:42,782.0,2014-03-28 10:55:12,782.0,2014-03-28 10:55:42,782.0,2014-03-28 10:56:12,782.0,2014-03-28 10:56:42,0
4,5,22,2014-02-28 10:53:05,177.0,2014-02-28 10:55:22,175.0,2014-02-28 10:55:22,178.0,2014-02-28 10:55:23,177.0,...,2014-02-28 10:55:59,175.0,2014-02-28 10:55:59,177.0,2014-02-28 10:55:59,177.0,2014-02-28 10:57:06,178.0,2014-02-28 10:57:11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253556,253557,3474,2013-11-25 10:26:54,3474.0,2013-11-25 10:26:58,141.0,2013-11-25 10:27:03,2428.0,2013-11-25 10:27:04,106.0,...,2013-11-25 10:27:16,2428.0,2013-11-25 10:27:28,2428.0,2013-11-25 10:27:40,2428.0,2013-11-25 10:27:52,148.0,2013-11-25 10:27:53,0
253557,253558,12727,2013-03-12 16:01:15,12727.0,2013-03-12 16:01:16,2215.0,2013-03-12 16:01:16,38.0,2013-03-12 16:01:17,2215.0,...,2013-03-12 16:01:17,25444.0,2013-03-12 16:01:18,2215.0,2013-03-12 16:01:18,23.0,2013-03-12 16:01:18,21.0,2013-03-12 16:01:18,0
253558,253559,2661,2013-09-12 14:05:03,15004.0,2013-09-12 14:05:10,5562.0,2013-09-12 14:05:10,5562.0,2013-09-12 14:06:29,5562.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
253559,253560,812,2013-12-19 15:20:22,676.0,2013-12-19 15:20:22,814.0,2013-12-19 15:20:22,22.0,2013-12-19 15:20:22,39.0,...,2013-12-19 15:20:23,814.0,2013-12-19 15:20:23,570.0,2013-12-19 15:20:23,22.0,2013-12-19 15:20:24,570.0,2013-12-19 15:20:24,0
253560,253561,34942,2014-04-25 09:56:52,1429.0,2014-04-25 09:56:53,34942.0,2014-04-25 09:56:53,29.0,2014-04-25 09:56:54,30.0,...,2014-04-25 09:56:54,5779.0,2014-04-25 09:56:54,30.0,2014-04-25 09:56:55,35.0,2014-04-25 09:56:55,33.0,2014-04-25 09:56:55,0

In [3]:
data.isnull().sum()

session_id        0
site1             0
time1             0
site2          3463
time2          3463
site3          6642
time3          6642
site4          9240
time4          9240
site5         11732
time5         11732
site6         14066
time6         14066
site7         16264
time7         16264
site8         18337
time8         18337
site9         20477
time9         20477
site10        22509
time10        22509
target            0
dtype: int64

In [4]:
data.shape

(253561, 22)

check if there is ID : 0

In [12]:
for i in range(1, 11):
    if data[data[f"site{i}"] == 0].shape[0] != 0:
        print("ID : 0")
        break
else:
    print("We can use ID 0")

We can use ID 0

## Handling missing values

#### first let split the time_j column to year_j, months_j , day_j, hour_j, minute_j, second_j

In [36]:
for i in range(1, 11):
    data[f'time{i}'] = pd.to_datetime(data[f'time{i}'], errors='coerce')
data.dtypes

session_id             int64
site1                  int64
time1         datetime64[ns]
site2                float64
time2         datetime64[ns]
site3                float64
time3         datetime64[ns]
site4                float64
time4         datetime64[ns]
site5                float64
time5         datetime64[ns]
site6                float64
time6         datetime64[ns]
site7                float64
time7         datetime64[ns]
site8                float64
time8         datetime64[ns]
site9                float64
time9         datetime64[ns]
site10               float64
time10        datetime64[ns]
target                 int64
dtype: object

In [37]:
for i in range(1, 11):
    data[f'year{i}'] = data[f'time{i}'].dt.year
    data[f'month{i}'] = data[f'time{i}'].dt.month
    data[f'day{i}'] = data[f'time{i}'].dt.day
    data[f'hour{i}'] = data[f'time{i}'].dt.hour
    data[f'minute{i}'] = data[f'time{i}'].dt.minute
    data[f'second{i}'] = data[f'time{i}'].dt.second

In [38]:
data

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,day9,hour9,minute9,second9,year10,month10,day10,hour10,minute10,second10
0,1,718,2014-02-20 10:02:45,NaN,NaT,NaN,NaT,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,890,2014-02-22 11:19:50,941.0,2014-02-22 11:19:50,3847.0,2014-02-22 11:19:51,941.0,2014-02-22 11:19:51,942.0,...,22.0,11.0,20.0,15.0,2014.0,2.0,22.0,11.0,20.0,16.0
2,3,14769,2013-12-16 16:40:17,39.0,2013-12-16 16:40:18,14768.0,2013-12-16 16:40:19,14769.0,2013-12-16 16:40:19,37.0,...,16.0,16.0,40.0,22.0,2013.0,12.0,16.0,16.0,40.0,24.0
3,4,782,2014-03-28 10:52:12,782.0,2014-03-28 10:52:42,782.0,2014-03-28 10:53:12,782.0,2014-03-28 10:53:42,782.0,...,28.0,10.0,56.0,12.0,2014.0,3.0,28.0,10.0,56.0,42.0
4,5,22,2014-02-28 10:53:05,177.0,2014-02-28 10:55:22,175.0,2014-02-28 10:55:22,178.0,2014-02-28 10:55:23,177.0,...,28.0,10.0,57.0,6.0,2014.0,2.0,28.0,10.0,57.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253556,253557,3474,2013-11-25 10:26:54,3474.0,2013-11-25 10:26:58,141.0,2013-11-25 10:27:03,2428.0,2013-11-25 10:27:04,106.0,...,25.0,10.0,27.0,52.0,2013.0,11.0,25.0,10.0,27.0,53.0
253557,253558,12727,2013-03-12 16:01:15,12727.0,2013-03-12 16:01:16,2215.0,2013-03-12 16:01:16,38.0,2013-03-12 16:01:17,2215.0,...,12.0,16.0,1.0,18.0,2013.0,3.0,12.0,16.0,1.0,18.0
253558,253559,2661,2013-09-12 14:05:03,15004.0,2013-09-12 14:05:10,5562.0,2013-09-12 14:05:10,5562.0,2013-09-12 14:06:29,5562.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253559,253560,812,2013-12-19 15:20:22,676.0,2013-12-19 15:20:22,814.0,2013-12-19 15:20:22,22.0,2013-12-19 15:20:22,39.0,...,19.0,15.0,20.0,24.0,2013.0,12.0,19.0,15.0,20.0,24.0
253560,253561,34942,2014-04-25 09:56:52,1429.0,2014-04-25 09:56:53,34942.0,2014-04-25 09:56:53,29.0,2014-04-25 09:56:54,30.0,...,25.0,9.0,56.0,55.0,2014.0,4.0,25.0,9.0,56.0,55.0

In [40]:
data = data.drop(columns=[f"time{i}" for i in range(1, 11)])

we fill the messing site with 0 and
the time we'll fill it with same day of the site1 and the mode hour for site_j

In [42]:
for i in range(1, 11):
    data[f'site{i}'] = data[f'site{i}'].fillna(0)
    data[f'year{i}'] = data[f'year{i}'].fillna(data[f'year1'])
    data[f'month{i}'] = data[f'month{i}'].fillna(data[f'month1'])
    data[f'day{i}'] = data[f'day{i}'].fillna(data[f'day1'])
    data[f'hour{i}'] = data[f'hour{i}'].fillna(data[f'hour{i}'].mode()[0])
    data[f'minute{i}'] = data[f'minute{i}'].fillna(data[f'minute{i}'].mode()[0])
    data[f'second{i}'] = data[f'second{i}'].fillna(data[f'second{i}'].mode()[0])

In [43]:
data.isnull().sum()

session_id    0
site1         0
site2         0
site3         0
site4         0
             ..
month10       0
day10         0
hour10        0
minute10      0
second10      0
Length: 72, dtype: int64

## Same for the test DATA

In [44]:
test = pd.read_csv("test_sessions.csv")

In [45]:
for i in range(1, 11):
    test[f'time{i}'] = pd.to_datetime(test[f'time{i}'], errors='coerce')

In [46]:
for i in range(1, 11):
    test[f'year{i}'] = test[f'time{i}'].dt.year
    test[f'month{i}'] = test[f'time{i}'].dt.month
    test[f'day{i}'] = test[f'time{i}'].dt.day
    test[f'hour{i}'] = test[f'time{i}'].dt.hour
    test[f'minute{i}'] = test[f'time{i}'].dt.minute
    test[f'second{i}'] = test[f'time{i}'].dt.second

In [47]:
test = test.drop(columns=[f"time{i}" for i in range(1, 11)])

In [48]:
for i in range(1, 11):
    test[f'site{i}'] = test[f'site{i}'].fillna(0)
    test[f'year{i}'] = test[f'year{i}'].fillna(test[f'year1'])
    test[f'month{i}'] = test[f'month{i}'].fillna(test[f'month1'])
    test[f'day{i}'] = test[f'day{i}'].fillna(test[f'day1'])
    test[f'hour{i}'] = test[f'hour{i}'].fillna(test[f'hour{i}'].mode()[0])
    test[f'minute{i}'] = test[f'minute{i}'].fillna(test[f'minute{i}'].mode()[0])
    test[f'second{i}'] = test[f'second{i}'].fillna(test[f'second{i}'].mode()[0])

In [49]:
test.isnull().sum()

session_id    0
site1         0
site2         0
site3         0
site4         0
             ..
month10       0
day10         0
hour10        0
minute10      0
second10      0
Length: 71, dtype: int64

In [51]:
# data.to_csv("data.csv", index=False)
# test.to_csv("test.csv", index=False)